@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chart Demo</h1>
    <p class="lead">展示使用 TeeChart 產生圖檔，包括 PNG 圖檔及 Javascript 圖檔，並且可以輸出到 Excel 圖檔及 PPT 檔.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>畫 chart 並匯出到 Excel</h2>
        <p>
            匯出到 Excel 部份使用 NPOI 套件.
        </p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">點這看 Demo &raquo;</a></p>
        <p><a class="btn btn-info" href="@Url.Action("Export", "NPOI")">測試 NPOI 套件正常否? &raquo;</a></p>
        <p><a class="btn btn-info" href="@Url.Action("Export", "xxExport")">測試 OpenXML 套件正常否? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-info" href="@Url.Action("GetChart", "Home")">測試 Teechart 正常否? &raquo;</a></p>
        <h2>畫 chart 並匯出到 PPT 檔</h2>
        <p>匯出到 Excel 部份使用 Open XML 套件.</p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301866">點這看 Demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>讀取excel 圖檔，更新資料後再貼到 PPT 檔</h2>
        <p>同時使用 NPOI 與 OPEN XML 套件.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">點這看 Demo &raquo;</a></p>
    </div>
</div>